footer {
    position: absolute;
    bottom: 1;
    background-color: #0d6efd !important;
    width: 100vw;
    height: 100px;
    margin-top: 100px; /* Ajuste la valeur selon l'espace souhaité */
}

header {
    background-color: #0d6efd;
    width: 100vw;
    height: 100px;
}

input {
    background: #0d6efd;
}

.link-opacity-50-hover {
    color: #ffffff;
}

.link-opacity-50-hover:hover {
    opacity: 70%;
}

.img1 {
    max-width: 25%;
    max-height: 400px;


}

p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: bolder;

}

h1 {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    position: relative;
    top: 20%; /* Déplace le titre vers le bas de 20% par rapport à sa position normale */

}

.form-label {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: bolder;
    width: 50vw;
    height: 50px;
}

